.home{
    background-color: color($colors, primary);
    color: color($colors, light);
}

.toolbar-title{
    text-align: center;
}

.tabs-md .tab-button-icon{
    color: #ccc;
}

.temp{
    font-size: 50px;
    text-align: center;
    font-weight: normal;
}

.location, .icon, .desc{
    text-align: center;
}

.icon img{
    width: 200px;
}

.location{
    font-size: 25px;
}

.desc{
    font-size: 20px;
}

